@charset "utf-8";
td img {display: block;
}
body {
	background-image: url(bg2.jpg);
	margin-top: 0px;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	margin-left: 10px;
	margin-right: 10px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
a:link {
	color: #0B2768;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #2E447E;
}
a:hover {
	text-decoration: none;
	color: #007939;
}
a:active {
	text-decoration: underline;
}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	margin: 10px;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.whitetext {color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.redtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #C00;
}
.indented {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	margin-left: 4px;
	margin-right: 2px;
}
.fixed11 {
	font-size: 11pt;
}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFF;
}
#mapcontainer {
	height: 600px;
	border-top: 10px solid #fff;
}
